<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ getText('training') }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="10" offset="1" class="ion-text-center">
        Score: {{ rightAnsStats.length }} / {{ questStats.length }} ({{ getPercentage(rightAnsStats.length, questStats.length) }}%) 
      </ion-col>
    </ion-row>

    <ion-row class="ion-align-items-center">
      <ion-col size="2" offset="1" class="ion-text-center">
        {{ getFirstChord().name }}
      </ion-col>

      <ion-col *ngFor="let item of [].constructor(4); let i = index" size="2">
        <ion-select name="response-select + i" [(ngModel)]="responses[i]" disabled="{{ selectsDisabled }}" okText="{{ getText('ok') }}" cancelText="{{ getText('cancel') }}">
          <ion-select-option *ngFor="let chord of getRespChords()" [value]="chord">{{ chord.name }}</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="2" offset="1">

      </ion-col>
      <ng-container *ngIf="isFeedbackVisible">
        <ion-col *ngFor="let item of [].constructor(4); let i = index" size="2" class="ion-text-center">
          <ion-icon name="{{ feedbackIcons[i].icon }}" color="{{ feedbackIcons[i].color }}"></ion-icon>
        </ion-col>
      </ng-container>
    </ion-row>

    <ion-row>
      <ion-col size="1"></ion-col>
      <ng-container *ngIf="showRightAns">
        <ion-col *ngFor="let chord of getPhraseChords()" size="2" class="ion-text-center">
          {{ chord.name }}
        </ion-col>
      </ng-container>
    </ion-row>

    <ion-row>
      <ion-col size="10" offset="1">
        <ion-button class="ion-text-wrap" (click)="generateProg()" [disabled]="buttonsDisabled[0]">
          {{ getText('newProg') }}
        </ion-button>
      </ion-col>

      <ion-col size="10" offset="1">
        <ion-button class="ion-text-wrap" (click)="playPhrase()" [disabled]="buttonsDisabled[1]">
          {{ getText('listenAgain') }}
        </ion-button>
      </ion-col>

      <ion-col size="10" offset="1">
        <ion-button class="ion-text-wrap" (click)="checkAnswers()" [disabled]="buttonsDisabled[2]">
          {{ getText('checkAns') }}
        </ion-button>
      </ion-col>

      <ion-col size="10" offset="1">
        <ion-button class="ion-text-wrap" (click)="showRight()" [disabled]="buttonsDisabled[3]">
          {{ getText('showRight') }}
        </ion-button>
      </ion-col>

      <ion-col size="10" offset="1">
        <ion-button class="ion-text-wrap" [disabled]="questStats.length === 0">
          {{ getText('resetScore') }}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-modal [isOpen]="true">
  <ng-template>
    <ion-content>
      <ion-grid>
        <ion-row>
          <ion-col class="ion-text-center" size="10" offset="1">
            <ion-button (click)="modalTest()">test</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
  </ng-template>
</ion-modal>


