<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ getText('settings') }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>{{ getText('selLevel') }}</ion-label>
    <ion-select name="level-select" [(ngModel)]="selLevel">
      <ion-select-option *ngFor="let level of levels" [value]="level">{{ level.description[lang] }}</ion-select-option>
    </ion-select>
  </ion-item>
</ion-content>

{{ selLevel | json }}
