<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      {{ getText('appTitle') }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-grid>
      <ion-row>
        <ion-col size="6" offset="3">
          <ion-button routerLink="/training">
            {{ getText('training') }}
          </ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6" offset="3">
          <ion-button routerLink="/settings">
            {{ getText('settings') }}
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
